<div xmlns:th="http://www.thymeleaf.org"
     th:with="title='register_complete :: title', content='register_complete :: content'"
     th:replace="~{base :: layout}">

    <th:block th:fragment="title">
        <title>登録完了</title>
    </th:block>

    <div th:fragment="content">
        <div class="container text-center">
            <h1 class="mb-3">登録が完了しました。</h1>
            <p>それでは、じゃんけんゲームをお楽しみください。</p>
            <a th:href="@{/login}" class="btn btn-primary mt-3">ログイン画面へ移動</a>
        </div>
    </div>
</div>